<form class="form" action="/index" method="post">
  <label for="name" class="form-item">
    Name: 
    <input type="text" name="name" value="{{name}}">
  </label>
  <label for="plate" class="form-item"> 
    <input type="text" name="plate" value="{{plate}}">
  </label>
  <input type="submit" name="" value="Submit">
</form>