<div>
  <form class="form" action="/" method="post">
   <div class="row"><label>Name &nbsp</label><input type="text" class= "input-element" value="{{name}}"></div>
   <div class="row"><label>Plate &nbsp &nbsp</label><input type = "text" class= "input-element" value="{{plate}}"></div>
   <div class = "button-div">
   <button class = "button"><input type="submit" value="Send"></button>
   </div>
  </form>
</div>




