<form class="form" action="/" method="POST">
  <label for="name" class="form-item">
    Name: 
    <input type="text" name="name">
  </label>
  <label for="plate" class="form-item"> 
    <input type="text" name="plate">
  </label>
  <input type="submit" name="" value="Submit">
</form>