<h1>Kia ora! Welcome to E<span class="at">AT</span>DA!</h1>
<p class = "app-description">
  Use this app to organise shared lunches here at Enspiral Dev Academy.
</p>

<p class = "data">
<strong>The next shared lunch is on <span class="at">October 31st 2019</span></strong><br>
</p>
<p class = "instructions">
Enter your name and the name of the plate you are bringing to the shared lunch, then click submit. 
<br><br>
Plates should feed no more than two people - the fridges are small!!<br>
</p>