body {
  background-color: #2C98AE;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: ;
}




h3 {
  font-family: 'Poppins', sans-serif;
}

.contents {

}

.form {

}

.input {

}

.submit {

}