body {
  background-color: #2C98AE;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 1fr, 10fr, 1fr;
  grid-template-columns: 1fr, 2fr, 1fr;
}

.row-1 {

}

.row-2 {

}

.row-3 {

}


h3 {
  font-family: 'Poppins', sans-serif;
}

.contents {

}

.form {

}

.input {

}

.submit {

}